footer{
  width: 100%;
}

#App{
  background-image: url(/public/paperbackground.png);
  background-position: center;
  background-attachment: fixed;
  background-repeat: repeat;
  width:100%;
  height:510vh;
  display:flex;
  flex-direction: column;
}

#Cyborg{
  height: 1250px;
  width: 100vw;
  opacity: 100%;
  background-image: url(/public/cyborg.png);
  background-size: 100%;
  margin-top: -20px;
  background-repeat: no-repeat;
  position: absolute;
}

#MainSection{
  height: 100vh;
  width: 100%;
  position: relative;
}

#DorisMorales{
  background-image: url(/public/dorismorales.png);
  width: 800px;
  height: 100px;
  position: absolute;
  background-size: 90%;
  background-repeat: no-repeat;
}

#Heart{
  width: 200px;
  height: 200px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url(/public/heart.png);
  position: absolute;
  left: 42.5%;
  top: 72%;
	animation: beat .50s infinite alternate;
	transform-origin: center;
  border: none;
  background-color:transparent;
  outline:none;
  aspect-ratio: 1 / 1;
}

#Heart:hover{
  cursor: pointer;
}

@keyframes beat{
	to { transform: scale(1.04); }
}

/* ABOVE WORKS */


