@media (max-width: 480px){
    div#ContactTitle{
        width: 170%;
        height: 80px;
        background-repeat: no-repeat;
        background-size: 100%;
        position: relative;
        left: 10%;
    }
    div#ContactContent{
        left: 7%;
        width: 300px;
        height: 600px;
        border: none;
    }
    form#formSection{
        width: 300px;
        height: 600px;
        flex-direction: column-reverse;
        position: relative;
        top:-100px;
    }
    div#secondSection{
        padding-top: 0;
        width: 300px;
        height: 150px;
        position: relative;
        padding-left: 10%;
    }
    div#messageSection{
       width: 300px;
       height: 100px;
       position: relative;
       padding-left: 10%;
    }
    input.inputs{
        margin: 0;
    }
    label#emailLabel{
        top: 0;
        margin: 0;
        position: relative;
        margin-top: 10px;
    }
    label#nameLabel{
        top: 0;
        margin: 0;
        position: relative;
    }
    textarea#messageTextbox{
        top: 0;
        left: 0;
        position: relative;
        height: 100px;
        width: 250px;
        border: none;
    }
    label#messageLabel{
        position: relative;
        top: 0;
        margin: 0;
        left: 0;
    }
    input#submitButton{
        left: 0;
        margin-left: 10%;
        top: 260px;
        background-color: transparent;
    }
    input#submitButton:hover{
        color: red;
    }
}

#formSection{
    width: 700px;
    height: 500px;
    display: flex;
    flex-direction: row;
}

#submitButton{
    position: absolute;
    top: 400px;
    left: 370px;
    border: none;
    font-size: 18px;
    height: 36px;
}

#submitButton:hover{
    color: red;
}

#nameLabel{
    position: absolute;
    top: 240px;
}

#emailLabel{
    position: absolute;
    top: 330px;
}

#secondSection{
    width: 350px;
    height: 270px;
    padding-top: 260px;
    display: flex;
    flex-direction: column;
}

#messageSection{
    height: 500px;
    width: 350px;
    display: flex;
    flex-direction: column;
}

#messageLabel{
    position: absolute;
    top: 150px;
    left: 50px;
}

#messageTextbox{
    position: absolute;
    left: 50px;
    top: 180px;
    height: 250px;
    width: 250px;
    background-color: #EEEDE8;
    outline:none;
    font-family: 'Rock Salt';
}

#ContactSection{
    height: 90vh;
    width: 100%;
    position: relative;
}

#ContactTitle{
    background-image: url(/public/contact.png);
    height: 150px;
    width: 500px;
    position: relative;
    left: 33%;
    margin-bottom: 10px;
    margin-top: 0px;
}

#ContactContent{
    background-image: url(/public/postcard.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 700px;
    height: 500px;
    position: relative;
    margin: 25px;
    border: black solid;
    position: relative;
    left: 23%;
    border-width: 2px;
}

label{
    font-family: "Rock Salt";
    margin-left: 25px;
    height: 36px;
    margin-bottom: 2px;
    margin-top: 2px;
    width: 200px;
}

input{
    background-color: #EEEDE8;
    outline:none;
    font-family: 'Rock Salt';
}

.inputs{
    width: 250px;
    height: 36px;
    margin-left: 25px;
    padding: 0;
    margin-bottom: 50px;
    margin-top: 2px;
    border: none;
}