@media (max-width: 480px){
    div#FooterSection{
        margin-top: 90px;   
    }
    div#socials{
        left: 35%;
    }
    p#copyrighttitle{
        left: 22%;
    }
}

#FooterSection{
    width: 100%;
    height: 100px;
    background-color: #FF0000;
    position: relative;
    bottom: 0;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
}

#socials{
    display: flex;
    flex-direction: row;
    width: 100px;
    height: 60px;
    position: relative;
    left: 45%;
}

.footerlogos{
    height: 40px;
    width: 40px;
    margin-top: 30px;
    margin: 10px;
}

#copyrighttitle{
    font-family: 'Rock Salt';
    position: relative;
    height: 40px;
    width: 100%;
    left: 41%;
}