footer{
  width: 100%;
}

#App{
  background-image: url(/public/paperbackground.png);
  background-position: center;
  background-attachment: fixed;
  background-repeat: repeat;
  width:100%;
  height:450vh;
  display:flex;
  flex-direction: column;
}

#tape{
  margin: 50px auto;
  width: 300px;
  height: 400px;
  position: absolute;
  box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.4), 0px 20px 10px rgba(0, 0, 0, 0.2);
  left: 150px;
  top: 1200px;
}

#tape:after{
  content: "";
  height: 25px;
  width: 80px;
  background-color: rgba(255, 255, 255, .3);
  position: absolute;
  top: -5px;
  left: -5px;
  transform: translateX(-30%) translateY(10%) rotate(-45deg);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
}

#DorisPic{
  background-image: url(/public/doris.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  width: 300px;
  position:absolute;
}

.logos{
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

#linklist{
  width: 500px;
  height: 50px;
  position: absolute;
  left: 41%;
  top: 50px;
}

.links{
  text-decoration: none;
  margin: 10px;
  padding: 6px;
  border-radius: 15%;
  font-family: "Rock Salt";
  border-color: #323232;
  color: black;
  border-style: solid;
  border-width: 2px;
}

.links:hover{
  background-color: #d3d3d3;
  -webkit-backdrop-filter: opacity(10%);
  backdrop-filter: opacity(10%);
}

#skillList{
  position: relative;
  top: 1200px;
  height: 200px;
  display: flex;
  flex-wrap: wrap-reverse;
  padding: 100px;
  justify-content: space-around;
}

#MerazMPortfolio:hover{
  /* filter: grayscale(100%); 
  filter: blur(8px);
  -webkit-filter: blur(8px); */
}

#MerazMPortfolio{
  background-image: url(/public/mportfolio.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 660px;
  height: 410px;
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  bottom: -20px;
}

#skills{
  background-image: url(/public/skills.png);
  width: 800px;
  height: 150px;
  position: relative;
  top: 1300px;
  left: 550px;
}

#arrow{
  width: 100px;
  height: 80px;
  background-color: yellowgreen;
  position: relative;
  left: 10%;
  top: 5%;
  animation: arrow_movement .50s infinite alternate;
}

@keyframes arrow_movement{
  0% { transform: translate(10px,  0px); }
  50%  { transform: translate(10px, 0px); }
  100%   { transform: translate(0px, -0px); }    
}

h2{
  font-family: "Rock Salt";
  font-size: 26px;
  text-align: right;
  position: relative;
  top: 60px;
  right: 50px;
}

#cjFishingGuide{
  background-image: url(/public/mportfolio.png);
  width: 400px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  top: 1900px;
  margin-left: 60px;
  left: 40%;
}

#DorisMorales{
  background-image: url(/public/dorismorales.png);
  width: 800px;
  height: 100px;
  position: absolute;
  background-size: 90%;
  background-repeat: no-repeat;
}

#Cyborg{
  height: 1250px;
  width: 100vw;
  opacity: 100%;
  background-image: url(/public/cyborg.png);
  background-size: 100%;
  margin-top: -20px;
  background-repeat: no-repeat;
}
 
@keyframes floating{
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 10px); }
    100%   { transform: translate(0, -0px); }    
}

#AboutMe{
  margin-top: 1100px;
  margin-left: 44%;
  height: 500px;
  width: 500px;
  background-image: url(/public/redsquare.png);
  position: absolute;
  padding: 70px;
  background-repeat: no-repeat;
  background-size: 100%;
}

#AboutMeTitle{
  background-image: url(/public/aboutmetitle.png);
  width: 500px;
  height: 100px;
  position: absolute;
  margin-top: 975px;
  margin-left: 47%;
}

.AboutMeSection{
  height: 150px;
  width: 500px;
  color:white;
  font-family: Bitter;
  text-indent: 2em;
  text-align: justify;
  line-height: 32px;
}

.material-symbols-outlined{
  position: absolute;
  top: 440px;
  color: white;
  font-size: 40px;
  left: 45%;
  animation: floating 1s infinite;
}

#Heart{
  width: 200px;
  height: 200px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url(/public/heart.png);
  position: absolute;
  left: 42.5%;
  top: 72%;
	animation: beat .50s infinite alternate;
	transform-origin: center;
  border: none;
  background-color:transparent;
  outline:none;
  aspect-ratio: 1 / 1;
}

#Heart:hover{
  cursor: pointer;
}

@keyframes beat{
	to { transform: scale(1.04); }
}
